@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
body {
  margin: 0 auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

[class*=randomContent] {
  position: absolute;
  z-index: -1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 36px;
  font-family: 'Dancing Script', cursive;
}

.index {
  min-width: 1200px;
  /***     header      ***/
  /***     main      ***/
  /***      nav     ***/
  /***     about    ***/
  /***     work     ***/
  /***     contact     ***/
  /***      footer       ***/
}
.index .page {
  overflow: hidden;
  position: relative;
}
.index header {
  background-image: url('../img/background/top_bg.png?1435287105');
  background-repeat: no-repeat;
  background-position: -350px;
  height: 984px;
  width: 633px;
  position: absolute;
  top: 0;
}
.index header h1 {
  padding-top: 300px;
  margin-left: 80px;
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
}
.index main {
  position: relative;
  min-width: 1200px;
  overflow: hidden;
  height: 8000px;
  background-image: url('../img/background/parllax_footer.png?1437092607');
  background-repeat: repeat-x;
  background-position: center bottom;
}
.index main nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}
.index main nav .hbgnv {
  text-indent: -9999px;
  background: url('../img/nav/hnbrgnv.png?1435897441');
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 30px;
  position: absolute;
}
.index main nav .nav {
  width: 500px;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.43);
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  top: 0;
  display: none;
  top: 0;
}
.index main nav .nav.on {
  display: block;
}
.index main nav .nvHnbg {
  padding-top: 12%;
  margin-left: 186px;
}
.index main nav .nvHnbg li {
  margin-top: 40px;
}
.index main nav .nvHnbg a {
  color: #ffffff;
  font-size: 40px;
}
.index main nav a:hover {
  color: #af0000;
}
.index main nav .sns li {
  display: inline-block;
  margin-top: 80px;
  overflow: hidden;
}
.index main nav .tw a {
  width: 60px;
  height: 51px;
  background-image: url('../img/icon/twIconHover.png?1435884885');
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: inline-block;
  background-position: center;
  margin-left: 156px;
  margin-top: 1px;
}
.index main nav .fb a {
  width: 60px;
  height: 60px;
  background: url('../img/icon/fbIconHover.png?1435885083');
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: inline-block;
  background-position: center;
  margin-left: 80px;
}
.index main nav .tw a:hover {
  background-image: url('../img/icon/twIconHover2.png?1435885017');
  background-repeat: no-repeat;
}
.index main nav .fb a:hover {
  background-image: url('../img/icon/fbIconHover2.png?1435885062');
  background-repeat: no-repeat;
}
.index #about {
  background-image: url('../img/background/about_bg.png?1435286858');
  background-repeat: no-repeat;
  position: absolute;
  top: 2000px;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
  height: 1500px;
}
.index #about h2 {
  font-size: 38px;
  display: inline-block;
  margin-left: 42%;
  margin-top: 200px;
  color: #ffffff;
}
.index #about dl {
  margin-left: 34%;
  margin-top: 50px;
  color: #ffffff;
}
.index #about dt {
  display: inline-block;
  margin-top: 80px;
}
.index #about dd {
  margin-top: 20px;
}
.index #work {
  width: 1730px;
  height: 1600px;
  overflow: hidden;
  position: absolute;
  margin: 0;
  top: 4000px;
  left: 50%;
  margin-left: -865px;
}
.index #work h2 {
  display: inline-block;
  margin-left: 40%;
  margin-bottom: -10%;
  font-size: 44px;
  background-image: url('../img/background/work2_bg.png?1436503756');
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  text-align: center;
  padding-top: 80px;
}
.index .prsnl {
  background-image: url('../img/background/work_bg.png?1435292690');
  background-repeat: no-repeat;
  margin-left: 40%;
  width: 1042px;
  height: 715px;
  overflow: hidden;
}
.index .prsnl h3 {
  margin-left: 44%;
  font-size: 44px;
  font-family: 'Dancing Script', cursive;
  padding-top: 5%;
}
.index .prsnl li {
  display: inline-block;
}
.index .prsnl .contsTg {
  margin-top: 5%;
  text-align: center;
}
.index .prsnl .contsTg li {
  padding: 0.5em 0.2em;
  width: 100px;
  background-color: #fee16c;
  border-radius: 2px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  font-size: 18px;
  color: #6f4026;
  display: inline-block;
}
.index .prsnl .contsTg li.on {
  background-color: #f5b565;
  color: #fff;
}
.index .prsnl #wbConts,
.index .prsnl #grphConts,
.index .prsnl #anlgConts {
  margin-left: 24%;
  display: none;
}
.index .prsnl #wbConts.on,
.index .prsnl #grphConts.on,
.index .prsnl #anlgConts.on {
  display: block;
}
.index .prsnl #wbConts ul,
.index .prsnl #grphConts ul,
.index .prsnl #anlgConts ul {
  width: 500px;
}
.index .prsnl #wbConts li,
.index .prsnl #grphConts li,
.index .prsnl #anlgConts li {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 5px;
}
.index .prsnl #wbConts a,
.index .prsnl #grphConts a,
.index .prsnl #anlgConts a {
  opacity: 0.8;
}
.index .prsnl #wbConts a:hover,
.index .prsnl #grphConts a:hover,
.index .prsnl #anlgConts a:hover {
  opacity: 1;
}
.index .grp {
  background-image: url('../img/background/group_bg.png?1435292537');
  background-repeat: no-repeat;
  overflow: hidden;
  width: 829px;
  height: 689px;
  margin-top: -30%;
}
.index .grp h3 {
  font-size: 40px;
  margin-left: 45%;
  padding-top: 8%;
  font-family: 'Dancing Script', cursive;
}
.index .grp li {
  display: inline-block;
  margin-left: 38%;
  margin-top: 100px;
}
.index .grp a {
  opacity: 0.8;
}
.index .grp a:hover {
  opacity: 1;
}
.index #contact {
  background-image: url('../img/background/contact_bg.png?1435292759');
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 5500px;
  margin-left: -400px;
  width: 800px;
  height: 1300px;
}
.index #contact h2 {
  text-align: center;
  display: inline-block;
  margin-top: 200px;
  font-size: 48px;
  margin-left: 41%;
  color: #ffffff;
}
.index #contact p {
  font-size: 48px;
  text-align: center;
  margin-top: 120px;
  color: #ffffff;
}
.index footer {
  background-color: #ffb100;
  min-width: 1200px;
  height: 80px;
  text-align: center;
  overflow: hidden;
}
.index footer p {
  margin-top: 40px;
}

/***      popup       ***/
.popup {
  /***    clearfix      ***/
}
.popup header {
  background: none;
  height: 50px;
}
.popup h1 {
  padding-top: 0px;
  margin-left: 0px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}
.popup li {
  display: inline-block;
}
.popup .popupImg {
  float: left;
  margin-right: 10px;
  margin-left: 30px;
}
.popup #mainImg1,
.popup #mainImg2,
.popup #mainImg3,
.popup #mainImg4 {
  display: none;
}
.popup #mainImg1.on,
.popup #mainImg2.on,
.popup #mainImg3.on,
.popup #mainImg4.on {
  display: block;
}
.popup .clearfix {
  content: "";
  clear: both;
  display: block;
}
.popup .serectImg {
  width: 440px;
  display: inline-block;
}
.popup .serectImg li {
  margin-left: 5px;
}
