@charset "utf-8";

@import  url(http://fonts.googleapis.com/css?family=Dancing+Script);

@import "_extension_import.scss";
body {
	margin: 0 auto ;
}

canvas {
	position: absolute ;
	top: 0 ;
	left: 0 ;
	z-index: -1 ;
}


[class*=randomContent] {
	position: absolute;
	z-index: -1;
}

li {
	list-style: none ;
}

a {
	text-decoration: none ;
}

h2 {
	font-size: 36px ;
	font-family: 'Dancing Script', cursive;
}

/***     header      ***/

header {
	background-image:  image-url("background/top_bg.png") ;
	background-repeat: no-repeat ;
	background-position: -350px ;
	height: 984px ;

	h1 {
		padding-top: 300px ;
		margin-left: 100px ;

	}

	h1,ul {
		font-family: 'Dancing Script', cursive;
		font-size: 44px ;
	}

	nav {
		margin-left: 110px ;
		margin-top: 20px ;
	}
	nav a {
		color: #000000 ;
		margin-top: 40px ;
	}

	nav a:hover {
		color: #ffffff ;
	}

	.tw,.fb {
		display: inline-block ;
		margin-top: 40px ;
		overflow: hidden ;
		margin-left: 50px ;
	}

	.tw a {
		width: 60px ;
		height: 51px ;
		background-image: image-url("icon/twitterIcon.png") ;
		background-repeat: no-repeat ;
		text-indent: -9999px ;
		display: inline-block ;
		background-position: center ;
		margin-top: 2px ;
	}

	.fb a {
		width: 60px ;
		height: 60px;
		background:  image-url("icon/facebookIcon.png") ;
		background-repeat: no-repeat ;
		text-indent: -9999px ;
		display: inline-block ;
		background-position: center ;
		margin-left: 60px ;
	}

	.tw a:hover {
		background-image:  image-url("icon/twIconHover.png") ;
		background-repeat: no-repeat ;
		background-position: center ;
	}

	.fb a:hover {
		background-image:  image-url("icon/fbIconHover.png") ;
		background-repeat: no-repeat ;
		background-position: center ;
	}
}

/***     main      ***/
main {
	position: relative ;
	min-width: 1200px ;
	overflow: hidden ;
	height: 7000px ;
	background-image: image-url("background/parllax_footer.png") ;
	background-repeat: repeat-x ;
	background-position: center bottom ;
}

/***      nav     ***/

main nav {
	position: fixed ;
	top: 0 ;
	left: 0 ;
	.hbgnv {
		text-indent: -9999px ;
		background:  image-url("nav/hnbrgnv.png") ;
		background-position: center ;
		background-repeat: no-repeat ;
		width: 100px ;
		height: 100px ;
		display: inline-block ;
		margin-top: 10px ;
		margin-left: 10px ;
		position: absolute ;
	}

	.nav {
		width: 500px ;
		height: 1000px ;
		background-color: rgba(0, 0, 0, 0.43) ;
		font-size: 40px ;
		font-family: 'Dancing Script', cursive;
		display: none ;
		&.on {
			display: block ;
		}
	}
	
	.nvHnbg {
		margin-top: 200px ;
		margin-left: 186px ;
	}

	.nvHnbg li {
		margin-top: 80px ;
	}


	.nvHnbg a {
		color: #ffffff ;
		font-size: 40px ;
	}

	a:hover {
		color: #af0000 ;
	}

	.sns li {
		display: inline-block ;
		margin-top: 80px ;
		overflow: hidden ;
	}

	.tw a{
		width: 60px ;
		height: 51px ;
		background-image:  image-url("icon/twIconHover.png") ;
		background-repeat: no-repeat ;
		text-indent: -9999px ;
		display: inline-block ;
		background-position: center ;
		margin-left: 156px ;
		margin-top: 1px ;
	}

	.fb a {
		width: 60px ;
		height: 60px ;
		background:  image-url("icon/fbIconHover.png") ;
		background-repeat: no-repeat ;
		text-indent: -9999px ;
		display: inline-block ;
		background-position: center ;
		margin-left: 80px ;
	}

	.tw a:hover {
		background-image:  image-url("icon/twIconHover2.png") ;
		background-repeat: no-repeat ;
	}

	.fb a:hover {
		background-image:  image-url("icon/fbIconHover2.png") ;
		background-repeat: no-repeat ;
	}
}

/***     about    ***/

#about {
	background-image:  image-url("background/about_bg.png") ;
	background-repeat: no-repeat ;
	position: absolute ;
	top: 1000px ;
	left: 50% ;
	width: 	1000px ;
	margin-left: -500px ;
	height: 1500px ;

	h2 {
		font-size: 38px ;
		display: inline-block ;
		margin-left: 39% ;
		margin-top: 200px ;
		color: #ffffff ;
	}

	dl {
		margin-left: 30% ;
		margin-top: 50px ;
		color: #ffffff ;
	}

	dt {
		display: inline-block ;
		margin-top: 80px ;
	}

	dd {
		margin-top: 20px ;
	}
}

/***     work     ***/

#work {
	width: 1730px ;
	height: 1600px ;
	overflow: hidden ;
	position: absolute;
	margin: 0;
	top: 3000px;
	left: 50%;
	margin-left: -865px;

	h2 {
		display: inline-block ;
		margin-left: 40% ;
		margin-bottom: -10% ;
		font-size: 44px ;
		background-image: image-url("background/work2_bg.png") ;
		background-repeat: no-repeat ;
		width: 200px ;
		height: 200px ;
		text-align: center ;
		padding-top: 80px ;
		
	}
}

.prsnl {
	background-image:  image-url("background/work_bg.png") ;
	background-repeat: no-repeat ;
	margin-left: 40% ;
	width: 1042px ;
	height: 715px ;
	overflow: hidden;
	
	h3 {
		margin-left: 45% ;
		font-size: 44px ;
		font-family: 'Dancing Script', cursive;
		padding-top: 10% ;
	}

	li {
		display: inline-block ;
	}

	.contsTg {
		display: inline-block ;
		margin-top: 5% ;
		margin-left: 30% ;
		 li {
			width: 100px ;
			height: 27px ;
			background-color: #c3e2fe ;
			text-align: center ;
			border-radius: 5px ;
			margin-left: 10px ;
			margin-right: 10px ;
			 overflow: hidden ;
		}
		 li {
			font-size: 24px ;
			color: #000000 ;
			display: inline-block ;
			text-align: center ;
			padding-top: 10px ;
			&.on {
				background-color: #73a5f5 ;
			}
		}
	}
	
	

	#wbConts,
	#grphConts,
	#anlgConts {
		margin-left: 24% ;
		display: none ;
		
		&.on {
			display: block ;
		}
		li {
			margin-top: 20px ;
			margin-left: 10px ;
			margin-right: 5px ;
		}
		
		a {
			opacity: 0.8 ;
		}
		a:hover {
			opacity: 1 ;
		}
	}

}

.grp {
	background-image:  image-url("background/group_bg.png") ;
	background-repeat: no-repeat ;
	overflow: hidden ;
	width: 829px ;
	height: 689px ;
	margin-top: -30%  ;

	h3 {
		font-size: 40px ;
		margin-left: 44% ;
		margin-top: 80px ;
		font-family: 'Dancing Script', cursive;
	}

	li {
		display: inline-block ;
		margin-left: 38% ;
		margin-top: 100px ;
	}
	
	a {
		opacity: 0.8 ;
	}

	a:hover {
		opacity: 1 ;
	}
}

/***     contact     ***/

#contact {
	background-image:  image-url("background/contact_bg.png") ;
	background-repeat: no-repeat ;
	position: absolute ;
	left: 50% ;
	top: 4500px;
	margin-left: -400px ;
	width: 800px ;
	height: 1300px ;
	h2 {
		text-align: center ;
		display: inline-block ;
		margin-top: 200px ;
		font-size: 48px ;
		margin-left: 40% ;
		color: #ffffff ;
	}

	p {
		font-size: 48px ;
		text-align: center ;
		margin-top: 120px ;
		color: #ffffff ;
	}
}

footer {
	background-color: #ffb100 ;
	top: 8000px ;
	height: 80px ;
	text-align: center ;
	overflow: hidden ;
	p {
		margin-top: 40px ;
	}
}