@charset "utf-8";

@import  url(http://fonts.googleapis.com/css?family=Dancing+Script);

@import "_extension_import.scss";
body {
	margin: 0 auto ;
}

canvas {
	position: absolute ;
	top: 0 ;
	left: 0 ;
	z-index: -1 ;
}


[class*=randomContent] {
	position: absolute;
	z-index: -1;
}

li {
	list-style: none ;
}

a {
	text-decoration: none ;
}

h2 {
	font-size: 50px ;
	color: #ffffff ;
	font-family: 'Dancing Script', cursive;
}

.index {
	min-width: 1200px ;

	.page {
		overflow: hidden ;
		position: relative ;
	}

	/***     header      ***/

	header {
		background-image:  image-url("background/top_bg.png") ;
		background-repeat: no-repeat ;
		background-position: -350px ;
		height: 984px ;
		width: 633px ;
		position: absolute ;
		top: 0 ;

		h1 {
			padding-top: 300px ;
			margin-left: 80px ;
			font-family: 'Dancing Script', cursive;
			font-size: 70px ;
			color: #ffffff ;
		}

	}

	/***     main      ***/
	main {
		position: relative ;
		min-width: 1200px ;
		overflow: hidden ;
		height: 8000px ;
		background-image: image-url("background/parllax_footer.png") ;
		background-repeat: repeat-x ;
		background-position: center bottom ;
	}

	/***      nav     ***/

	main nav {
		top: 0 ;
		left: 0 ;
		position: fixed ;
		z-index: 2 ;
		}

		#nav {
			width: 300px ;
			height: 50p ;
			font-family: 'Dancing Script', cursive;
			background-color: rgba(0, 0, 0, 0.43) ;
		}

		.nvHnbg {
			padding-top: 10px ;
			padding-bottom: 10px ;
			display: inline-block ;

			li {
				display: inline-block ;
				margin-left: 10px ;
			}
			
			a {
				color: #ffffff ;
				font-size: 20px ;
			}

			a:hover {
				color: #d1ebf5 ;
			}
		}

		.sns {
			padding-top: 10px ;
			padding-bottom: 10px ;
			display: inline-block ;
			margin-left: 10px ;
			
			li {
				display: inline-block ;
				overflow: hidden ;
			}
			
			.tw a{
				width: 20px ;
				height: 17px ;
				background-image:  image-url("icon/twIconHover.png") ;
				background-repeat: no-repeat ;
				text-indent: -9999px ;
				display: inline-block ;
				background-position: center ;
				margin-top: 1px ;
			}

			.fb a {
				width: 20px ;
				height: 20px ;
				background:  image-url("icon/fbIconHover.png") ;
				background-repeat: no-repeat ;
				text-indent: -9999px ;
				display: inline-block ;
				background-position: center ;
				margin-left: 10px ;
			}
		}

	/***     about    ***/

	#about {
		background-image:  image-url("background/about_bg.png") ;
		background-repeat: no-repeat ;
		position: absolute ;
		top: 2000px ;
		left: 50% ;
		width: 	1000px ;
		margin-left: -500px ;
		height: 1500px ;

		h2 {
			display: inline-block ;
			margin-left: 42% ;
			margin-top: 200px ;
			color: #ffffff ;
		}

		dl {
			margin-left: 34% ;
			margin-top: 50px ;
			color: #ffffff ;
		}

		dt {
			display: inline-block ;
			margin-top: 80px ;
		}

		dd {
			margin-top: 20px ;
		}
	}

	/***     work     ***/

	#work {
		width: 1700px ;
		height: 1600px ;
		overflow: hidden ;
		position: absolute;
		margin: 0;
		top: 4000px;
		left: 50%;
		margin-left: -825px;

		h2 {
			display: inline-block ;
			margin-left: 40% ;
			margin-bottom: -10% ;
			background-image: image-url("background/work2_bg.png") ;
			background-repeat: no-repeat ;
			width: 200px ;
			height: 200px ;
			text-align: center ;
			padding-top: 80px ;

		}
	}

	.prsnl {
		background-image:  image-url("background/work_bg.png") ;
		background-repeat: no-repeat ;
		margin-left: 640px ;
		width: 1042px ;
		height: 715px ;
		overflow: hidden;

		h3 {
			margin-left: 44% ;
			color: #ffffff ;
			font-size: 44px ;
			font-family: 'Dancing Script', cursive;
			padding-top: 5% ;
		}

		li {
			display: inline-block ;
		}

		.contsTg {
			margin-top: 5% ;
			text-align: center ;
			li {
				padding: 0.5em 0.2em;
				width: 90px ;
				background-color: #ffcb3f ;
				border-radius: 2px ;
				margin-left: 5px ;
				margin-right: 5px ;
				overflow: hidden ;
				font-size: 18px ;
				color: #ffffff ;
				display: inline-block ;
				cursor: pointer ;
				&.on {
					background-color: #fcffd2 ;
					color: #000000 ;
				}
			}
		}



		#wbConts,
		#grphConts,
		#anlgConts {
			margin-left: 24% ;
			display: none ;

			&.on {
				display: block ;
			}
			ul {
				width: 600px ;
				margin-left: 10px ;
				margin-top: 10px ;
			}
			
			li {
				margin-top: 10px ;
				margin-left: 5px ;
				margin-right: 5px ;
			}
			
			a img {
			display: block ;
			}
			
			a:hover {
				opacity: 0.8 ;
			}
		}

	}

	.grp {
		background-image:  image-url("background/group_bg.png") ;
		background-repeat: no-repeat ;
		overflow: hidden ;
		width: 829px ;
		height: 689px ;
		margin-top: -30%  ;

		h3 {
			color: #ffffff ;
			font-size: 40px ;
			margin-left: 45% ;
			padding-top: 8% ;
			font-family: 'Dancing Script', cursive;
		}
		
		li {
			display: inline-block ;
			margin-top: 30px ;
		}

		a:hover {
			opacity: 0.8 ;
		}
		
		h4 {
			margin-left: 40% ;
			color: #ffffff ;
			margin-top: 2em ;
			margin-bottom: 1em ;
		}
		
		.contsTg {
			text-align: center ;
			li {
				padding: 0.5em 0.2em;
				width: 90px ;
				background-color: #88de95 ;
				border-radius: 2px ;
				margin-left: 5px ;
				margin-right: 5px ;
				margin-top: 70px ;
				overflow: hidden ;
				font-size: 18px ;
				color: #ffffff ;
				display: inline-block ;
				cursor: pointer ;
				&.on {
					background-color: #c4ffcd ;
					color: #000000 ;
				}
			}
		}
		
		#portfolioConts,
		#gmConts,
		#grpGameConts {
			display: none ;

			&.on {
				display: block ;
			}
			
			.portfolio_content {
				margin-left: 28% ;
				width: 450px ;
				
				li {
					margin-left: 5px ;
					margin-right: 5px ;
					margin-top: 10px ;
				}
			}
			
			a  {
				display: block ;
			}
			
			a:hover {
				opacity: 0.8 ;
			}
			
			p {
				margin-left: 240px ;
				margin-top: 1em ;
				width: 380px ;
				line-height: 1.5em ;
				color: #ffffff ;
			}
		}

		#gmConts,
		#grpGameConts {
			img {
				margin-left: 40% ;
				margin-top: 1em ;
				
			}
		}
		
	}

	/***     contact     ***/

	#contact {
		background-image: image-url("background/contact_bg.png") ;
		background-repeat: no-repeat ;
		position: absolute ;
		left: 50% ;
		top: 5500px;
		margin-left: -400px ;
		width: 800px ;
		height: 1300px ;
		h2 {
			text-align: center ;
			display: inline-block ;
			margin-top: 200px ;
			margin-left: 41% ;
			color: #ffffff ;
		}

		p {
			font-size: 48px ;
			text-align: center ;
			margin-top: 120px ;
			color: #ffffff ;
		}
	}

	/***      footer       ***/

	footer {
		background-color: #ffb100 ;
		min-width: 1200px ;
		height: 80px ;
		text-align: center ;
		overflow: hidden ;
		p {
			margin-top: 40px ;
		}
	}

}

/***      popup       ***/

.popup {

	
	header {
		background: none ;
		height: 50px ;
	}
	
	h1 {
		padding-top: 0px ;
		margin-left: 0px ;
		text-align: center ;
		font-family: 'Dancing Script', cursive ;
		font-size: 30px ;
}
	
	li {
		display: inline-block ;
	}
	
	
	
	.popupImg {
		float: left ;
		margin-right: 10px ;
		margin-left: 20px ;
	}
	
	#mainImg1,
	#mainImg2,
	#mainImg3,
	#mainImg4 {
		display: none ;
		
		&.on {
			display: block ;
		}
	}
	
	/***    clearfix      ***/
	.clearfix {
		content: "" ;
		clear: both ;
		display: block ;
	}
	
	.serectImg {
		width: 440px ;
		display: inline-block ;
		
		li {
			margin-left: 5px ;
		}
	}
	
}